<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.blogs.dao.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.xh.blogs.domain.po.Article" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="INTEGER" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="favors" property="favors" jdbcType="INTEGER" />
    <result column="featured" property="featured" jdbcType="INTEGER" />
    <result column="belong_group" property="belongGroup" jdbcType="INTEGER" />
    <result column="images" property="images" jdbcType="INTEGER" />
    <result column="last_image_id" property="lastImageId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <sql id="commonField">
          SELECT
              u.id "user.id",
              u.nick_name "user.nickName",
              u.user_name "user.userName",
              u.avatar "user.avatar",
              a.id,
              a.author_id,
              a.comments,
              a.favors,
              a.belong_group,
              a.images,
              a.last_image_id,
              a.summary,
              a.tags,
              a.title,
              a.views,
              a.create_time,
    </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultType="com.xh.blogs.domain.po.Article">
      <include refid="commonField"/>
          ac.id "albums.id",
          ac.original "albums.original",
          ac.preview "albums.preview",
          ac.store "albums.store",
          act.content "editor"
      FROM
          t_article a
      LEFT JOIN t_article_accessory ac ON ac.to_id = a.id
      LEFT JOIN t_user u ON u.id = a.author_id
      LEFT JOIN t_article_content act ON act.id = a.id
      WHERE
          a.id = #{id}
      AND a.`status` = 10
  </select>

  <select id="selectInfoWithPage" parameterType="java.util.Map" resultType="com.xh.blogs.domain.po.Article">
      <include refid="commonField"/>
          group_concat(CONCAT(ac.id,'---',ac.original,'---',ac.preview,'---',ac.store) separator '===') accessorys
      FROM
          t_article a
      LEFT JOIN t_article_accessory ac ON ac.to_id = a.id
      LEFT JOIN t_user u ON u.id = a.author_id
      <where>
          <if test="status != null and status != ''"> a.`status` = #{status} </if>
          <if test="userId != null and userId != ''"> AND u.id = #{userId} </if>
      </where>
      GROUP BY a.id
      ORDER BY a.create_time DESC
  </select>

</mapper>