<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.blogs.dao.mapper.ArticleAccessoryMapper" >
  <resultMap id="BaseResultMap" type="com.xh.blogs.domain.po.ArticleAccessory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="original" property="original" jdbcType="VARCHAR" />
    <result column="preview" property="preview" jdbcType="VARCHAR" />
    <result column="screenshot" property="screenshot" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="store" property="store" jdbcType="INTEGER" />
    <result column="to_id" property="toId" jdbcType="INTEGER" />
  </resultMap>



</mapper>