<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.blogs.dao.mapper.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.xh.blogs.domain.po.Comments" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>

    <update id="removeByPid">
        UPDATE t_comments SET `status` = -10 WHERE pid = #{pid}
    </update>

  <select id="selectByUserId" resultType="com.xh.blogs.domain.entity.EArticleComments">
        SELECT
            c.id,
            c.create_time,
            c.content,
            u.id "userId",
            u.nick_name "nickName",
            u.avatar,
            a.id "articleId",
            a.comments,
            a.favors,
            a.tags,
            a.featured,
            a.summary,
            a.create_time "articleTime",
            a.title
        FROM
            t_comments c
        LEFT JOIN t_user u ON u.id = c.user_id
        LEFT JOIN t_article a ON a.id = c.article_id
        WHERE
            c.`status` = #{status}
        AND c.user_id = #{userId}
        ORDER BY c.create_time DESC
  </select>

  <select id="selectSublistByArticleId" resultType="com.xh.blogs.domain.entity.EComments">
      <include refid="commonSql"/>
      AND c.pid <![CDATA[ > ]]> 0
      ORDER BY c.create_time DESC
  </select>

  <select id="selectByArticleId" resultType="com.xh.blogs.domain.entity.EComments">
        <include refid="commonSql"/>
        AND c.pid <![CDATA[ <= ]]> 0
        ORDER BY c.create_time DESC
  </select>

    <sql id="commonSql">
        SELECT
            c.id,
            c.user_id,
            c.content,
            c.pid,
            DATE_FORMAT(c.create_time, '%Y-%m-%d %H:%i:%s') AS "create_time",
            u.id "userId",
            u.nick_name,
            u.avatar
        FROM
            t_comments AS c
        INNER JOIN t_user u ON u.id = c.user_id
        WHERE
            c.article_id = #{articleId}
        <if test="status != null and status != ''"> AND c.`status` = #{status} </if>
    </sql>
</mapper>