<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.blogs.dao.mapper.FavorsMapper" >
  <resultMap id="BaseResultMap" type="com.xh.blogs.domain.po.Favors" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="own_id" property="ownId" jdbcType="INTEGER" />
  </resultMap>
</mapper>