<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.blogs.dao.mapper.TagsMapper" >
  <resultMap id="BaseResultMap" type="com.xh.blogs.domain.po.Tags" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="vaule" property="vaule" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectBeforeBySort" resultMap="BaseResultMap">
        SELECT
            id,
            `name`,
            sort
        FROM
            t_tags
        WHERE sort <![CDATA[ < ]]> #{sort} ORDER BY sort DESC LIMIT 1
  </select>

    <select id="selectAfterBySort" resultMap="BaseResultMap">
        SELECT
            id,
            `name`,
            sort
        FROM
          t_tags
        WHERE sort <![CDATA[ > ]]> #{sort} ORDER BY sort ASC LIMIT 1
    </select>

  <select id="selectAllBySort" resultMap="BaseResultMap" parameterType="com.xh.blogs.domain.po.Tags">
      SELECT
          *
      FROM
          t_tags
      <where>
          <if test="status != null and status != ''"> `status` = #{status} </if>
      </where>
      ORDER BY sort
  </select>
</mapper>