<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.blogs.dao.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xh.blogs.domain.po.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="active_email" property="activeEmail" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="INTEGER" />
    <result column="fans" property="fans" jdbcType="INTEGER" />
    <result column="favors" property="favors" jdbcType="INTEGER" />
    <result column="follows" property="follows" jdbcType="INTEGER" />
    <result column="posts" property="posts" jdbcType="INTEGER" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
  </resultMap>

    <update id="addFansByUserId">
        UPDATE t_user
        SET fans = fans + 1
        WHERE id = #{userId}
    </update>

  <select id="selectByHottest" resultType="com.xh.blogs.domain.entity.EHotUser">
      SELECT
          id,nick_name,avatar,fans
      FROM
          t_user
      WHERE
          `status` = 10
      ORDER BY (fans + FLOOR(posts / 3)) DESC
      LIMIT #{count}
  </select>

  <select id="selectUserInfoByName" parameterType="java.lang.String" resultType="com.xh.blogs.domain.po.User">
      SELECT
          r.id AS `role.id`,
          r.`name` AS `role.name`,
          p.`name` AS `permission.name`,
          p.id AS `permission.id`,
          p.url AS `permission.url`,
          u.id,
          u.email,
          u.last_login,
          u.mobile,
          u.`password`,
          u.user_name,
          u.nick_name,
          u.avatar,
          u.sex,
          u.source,
          u.comments,
          u.fans,
          u.favors,
          u.follows,
          u.posts,
          u.signature
      FROM
          t_user u
      LEFT JOIN t_user_role ur ON u.id = ur.user_id
      LEFT JOIN t_role r ON r.id = ur.role_id
      LEFT JOIN t_role_permission pr ON r.id = pr.permission_id
      LEFT JOIN t_permission p ON p.id = pr.role_id
      WHERE
          u.user_name = #{userName}
      AND u.`status` = 10
  </select>
</mapper>